<div class="flex flex-col gap-6 h-full">
  <div class="professional-card flex-grow flex flex-col">
    <h2 class="p-4 font-bold text-slate-800 border-b border-slate-200">Volumen SINPE vs. Latencia</h2>
    <div class="flex-grow p-4">
      <app-area-chart></app-area-chart>
    </div>
  </div>
  <div class="professional-card flex-grow flex flex-col">
    <h2 class="p-4 font-bold text-slate-800 border-b border-slate-200">Índice de Madurez del Ecosistema</h2>
    <div class="flex-grow p-4">
      <app-radar-chart></app-radar-chart>
    </div>
  </div>
  <div class="professional-card flex-grow flex flex-col">
    <h2 class="p-4 font-bold text-slate-800 border-b border-slate-200">Tipo de Cambio BCCR (MONEX)</h2>
    <div class="flex-grow p-4">
      <app-line-chart></app-line-chart>
    </div>
  </div>
</div>
